.pickerHeader
{
	font-size: 8pt;
	background-image: url(Picker/header.jpg);
	color: white;
	font-family: Verdana;
}
.pickerBody
{
	border: black 1px solid;
}
.pickerWeekday
{
	font-size: 7pt;
	cursor: default;
	font-family: Verdana;
	text-align: center;
	padding-right: 7px;
	padding-left: 7px;
	background-image: url(Picker/days.jpg);
}
.pickerInMonthDay
{
	border-top: silver 1px solid;
	font-size: 8pt;
	border-left: silver 1px solid;
	cursor: hand;
	font-family: Verdana;
	background-color: white;
	text-align: center;
}
.pickerInMonthDayH
{
	border-top: silver 1px solid;
	font-size: 8pt;
	border-left: silver 1px solid;
	cursor: hand;
	font-family: Verdana;
	background-color: #99CDFF;
	text-align: center;
	color: white;
}
.pickerOutMonthDay
{
	border-top: silver 1px solid;
	font-size: 8pt;
	border-left: silver 1px solid;
	cursor: hand;
	font-family: Verdana;
	background-color: gray;
	text-align: center;
	color: white;
}
.pickerOutMonthDayH
{
	border-top: silver 1px solid;
	font-size: 8pt;
	border-left: silver 1px solid;
	cursor: hand;
	font-family: Verdana;
	background-color: silver;
	text-align: center;
	color: white;
}
.pickerMonth
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 7pt;
	cursor: hand;
	font-family: Verdana;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
	border: black 1px solid;
}
.pickerMonthH
{
	
	padding-right: 5px;
	padding-left: 5px;
	font-size: 7pt;
	cursor: hand;
	font-family: Verdana;
	border-collapse: collapse;
	background-color: silver;
	text-align: center;
	border: black 1px solid;
}
.pickerHeaderMonthYear
{
	cursor: hand;
    text-decoration: underline;
}
.pickerDaysTable
{
	width: 100%;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}
.pickerCurrentDay
{
	font-family: Verdana;
	font-size: 8pt;
	background-color: #CCCDFF;
	color: white;
	text-align: center;
	cursor: hand;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
}
